* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1a1a1a; /* 深色背景凸显 3D 效果 */
    font-family: sans-serif;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
}

.panel {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#left-panel {
    width: 35%;
    border-right: 2px solid #333; /* 物理分割线 */
}

#right-panel {
    width: 65%;
}